{% import (
  "github.com/kyleu/solitaire/app"
  "github.com/kyleu/solitaire/app/controller/cutil"
  "github.com/kyleu/solitaire/app/game"
  "github.com/kyleu/solitaire/app/util"
  "github.com/kyleu/solitaire/views/components"
  "github.com/kyleu/solitaire/views/layout"
  "github.com/kyleu/solitaire/views/vutil"
) %}

{% code type WASM struct {
  layout.Basic
  Game *game.Game
} %}

{% func (p *WASM) Body(as *app.State, ps *cutil.PageState) %}
<div class="card">
  <h3>{%= components.SVGRefIcon(`gift`, ps) %}{%s util.AppName %} WASM</h3>
  <em id="load-status">Loading...</em>
</div>
<div class="card">
  <h3>Audits</h3>
  <ul id="audit-log" class="mt"></ul>
</div>
<script>
  function wasmInit(ms) {
    document.getElementById("load-status").innerText = "Loaded in [" + ms + "ms]";
  }
</script>
{%= vutil.WASMScript() %}
{% endfunc %}
